@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Tilt+Prism&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.vertical-navbar {
  left: 0;
  top: 0;
  height: 100vh;
  /* width: 50%; */
  background-color: #2a52be;
  /* padding-top: 20px;
  padding-right: 20px; */
}

.navbar-links {
  display: block;
}

.links-container {
  /* height: 80%; */
  /* bottom: 0; */
  /* display: grid;
  place-items: center; */
}

.nav-container {
  /* height: 100%; */
  /* display: grid; */
  /* place-items: center; */
  /* grid-gap: 10px; */
}

.title-container {
  margin-top: 15%;
  font-size: 30px;
}
