@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Tilt+Prism&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.vertical-navbar {
  height: 100vh;
  background-color: #2a52be;
}

.navbar-links {
  display: block;
}

.title-container {
  margin-top: 15%;
}
